/* Hero Section */
.hero-section__background-image--hawaii {
  align-items: center;
  background: url("../assets/Images/hawaii.jpg") center center / cover;
  display: flex;
  justify-content: center;
  height: calc(100vh - 4rem);
  padding: 2rem 0;  
  width: 100%;
}

.hero-section__background-image--iceland {
  align-items: center;
  background: url("../assets/Images/iceland.jpg") center center / cover;
  display: flex;
  height: calc(100vh - 4rem);
  justify-content: center;
  padding: 2rem 0;  
  width: 100%;
}

.hero-section__background-image--greece {
  align-items: center;
  background: url("../assets/Images/greece.jpg") center center / cover;
  display: flex;
  height: calc(100vh - 4rem);
  justify-content: center;
  padding: 2rem 0;  
  width: 100%;
}

.hero__content--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(1280px, 90vw);
}

.hero-section__card--container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.hero-section__heading {
  color: var(--main-neutral);
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.card {
  align-items: center;
  background: var(--main-neutral);
  color: var(--flat-black);
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  text-align: center;
  padding-top: 2rem;
}

.card__itinerary {
  list-style: none;
}

.card__activity--meal,
.card__activity--recreation {
  background: var(--secondary-neutral);
  border-radius: 5px;
  display: inline-block;
  margin: 0.8rem 0;
  padding: 1rem 0;
  width: 80%;
}

.card__heading--underline {
  background: #333;;
  height: 3px; 
  margin: 0.2rem 0 1rem;
  width: 80%;
}

/* Breakpoints / Media Queries */
@media (max-width: 1050px) {
  .hero-section__background-image--hawaii,
  .hero-section__background-image--greece, 
  .hero-section__background-image--iceland {
    height: 100%;
  }

  .hero-section__card--container {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }

  .hero-section__heading {
    text-align: center;
  }

  .recommendations__content--container > h3 {
    align-self: center;
    font-size: min(2.5rem 90%);
  }
}