
.hero-section {
  background: url("../assets/Images/hawaii.jpg") center center / cover;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;  
}

.hero__content--container {
  border: 2px dotted #000;
  display: flex;
  min-height: calc(100vh - 4rem);
  width: min(1280px, 90vw);
  flex-direction: column;
  justify-content: center;
  
}

.hero-section__card--container {
  border: 2px solid green;
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.hero-section__heading {
  color: var(--main-neutral);
  font-size: 3rem;
  margin-bottom: 2rem;
  border: 2px solid red;
}

.card {
  border: 2px solid red;
  background: var(--main-neutral);
  color: var(--flat-black);
  text-align: center;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.card__activity--meal,
.card__activity--recreation {
  /* border: 2px solid blue; */
  width: 80%;
  padding: 0.8rem 0;
  margin: 1rem 0;
  background: var(--secondary-neutral);
  border-radius: 5px;
}

.card__heading--underline {
  width: 80%;
  height: 3px; 
  background: #333;;
  /* border: 2px solid #333; */
  margin: 0.2rem 0 1rem;
}

/* Breakpoints / Media Queries */
@media (max-width: 480px) {
  /* Styles for screens up to 480 pixels */
}

@media (max-width: 800px) {
  .hero-section__column-container {
    /* border: 2px dotted #000; */
    flex-direction: column-reverse;
    align-items: center;
  }

  .header__left--cta {
    /* border: 2px dotted #000; */
    width: 70vw;
    min-width: 80vw;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(50vh - 4rem);
  }
  .header__left--cta h1 {
    padding-top: 0;
  }

  .header__left--cta .btn {
    margin-top: 0rem;
  }

  .hero-section {
    /* border: 5px solid red; */
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }
  .header__right--image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dotted gray; */
    width: 45vw;
    /* min-width: 300px; */
    height: calc(50vh - 4rem);
  }
}

@media (max-width: 1050px) {
  /* Styles for screens between 768 and 1023 pixels */
  .hero-section__card--container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .recommendations__content--container > h3 {
    align-self: center;
    /* font-size: 2.5rem; */
    font-size: min(2.5rem 90%);
  }
}

@media (max-width: 1279px) {
  /* Styles for screens between 1024 and 1279 pixels */
}