/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Variables */

:root { 
  /* Colors */
  --main-neutral: #fff;
  --text-main: #335576;
  --accent: #DB7A4E;
  --secondary-neutral: #FEFAF5;

  /* Fonts */
  --base-font: Verdana, sans-serif, arial;

  /* Font Weights */
  /* font-family: "Verdana"; */

}

html {
  font-family: var(--base-font);
  color: var(--text-main)
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit
}

.accent-bg {
  background: var(--accent);
}

.accent-text {
  color: var(--accent);
}

.no-wrap {
  white-space: nowrap;
}

.btn {
  color: var(--white);
  border: none;
}

/* Navbar */
.nav-bar {
  padding-inline: 1rem;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--main-neutral);
  padding-top: 0.5rem;
}

.nav-bar__container {
  display: flex;
  align-items: center;
  width: min(1280px, 90vw);
  justify-content: space-between;
  height: 3rem;
}

.nav-link__wrapper {
  position: relative;
}

.nav-link__underline {
  display: none;
  width: 120%;
  height: 4px;
  background: var(--accent);
  position: absolute;
  bottom: -0.5rem;
  left: -10%;
}

.nav-link__underline.active {
  display: block;
}

.nav-bar__text-logo {
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-bar ul a {
  text-decoration: none;
  color: inherit;
}


/* Recommendations Section*/
.recommendations {
  /* border: 5px solid green; */
}

.recommendation__card--container {
  /* border: 2px dotted #000; */
  text-align: center;
}

/* Cards */

.card {
  /* border: 5px solid blue; */
  height: 300px;
  width: 220px;
  display: inline-block;
  border-radius: 10px;
}

/* Breakpoints / Media Queries */
@media (max-width: 480px) {
  /* Styles for screens up to 480 pixels */
}

@media (max-width: 767px) {
  /* Styles for screens between 481 and 767 pixels */
}

@media (max-width: 1023px) {
  /* Styles for screens between 768 and 1023 pixels */
}

@media (max-width: 1279px) {
  /* Styles for screens between 1024 and 1279 pixels */
}

@media (min-width: 1280px) {
  /* Styles for screens of 1280 pixels and beyond */
}


/* New Footer */
footer {
  display: flex;
  justify-content: center;
  border: 2px solid red;
  background: var(--secondary-neutral);
}

.container {
  display: flex;
  max-width: min(90vw, 1280px);
  width: 100%;
  border: 2px dashed #000;
}

.footer__column {
  flex: 1;
  /* text-align: center; */
  padding: 10px;
  border: 2px solid green;
}

.footer__column small {
  color: var(--accent);
}

.footer__column.wide {
  flex: 2;
  border: 2px solid blue;
}

.opening-hours__columns-container {
  border: 2px dashed #000;
  display: flex;
  justify-content: space-between;
  /* min-width: 100%; */
  /* gap: 1rem; */
}

.social-icons__container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  border: 2px solid orange;
}

.footer__column:last-of-type {
  padding-left: 3rem;
}