/* Hero Section */
.hero-section {
  border: 5px solid red;
  padding-top: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: var(--secondary-neutral);
  height: calc(100vh);
}

.hero-section__column-container {
  width: min(1280px, 90vw);
  border: 2px dotted #000;
  display: flex;
  /* flex-direction: column; */
}

.header__left--cta {
  /* border: 2px dotted #000; */
  width: 45vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__right--image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px dotted gray; */
  width: 45vw;
  min-width: 300px;
}

.header__right--image-container img {
  max-width: 80%;
}

/* Recommendations Section */
.recommendations__section {
  background: var(--main-neutral);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid green;
  padding: 2rem 0;
}

.recommendations__content--container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(1280px, 90vw);
}

.recommendations__content--container > h3 {
  border: 2px solid red;
  align-self: flex-start;
  margin-bottom: 2rem;
}

.recommendations__card--container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px dotted #000;
  width: 100%;
  /* gap: 10%; */
}

.recommendations__card--container .card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.card h3 {
  color: var(--main-neutral);
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.recommendations__card--container .card:nth-of-type(1) {
  background: url("../assets/Images/hawaii.jpg") center center / cover;
}

.recommendations__card--container .card:nth-of-type(2) {
  background: url("../assets/Images/iceland.jpg") center center / cover;
}

.recommendations__card--container .card:nth-of-type(3) {
  background: url("../assets/Images/greece.jpg") center center / cover;
}
