/* Hero Section */
.hero-section {
  padding-top: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: var(--secondary-neutral);
  height: calc(100vh - 4rem);
}

.hero-section__column-container {
  width: min(1280px, 90vw);
  /* border: 2px dotted #000; */
  display: flex;
  /* flex-direction: column; */
}

.header__left--cta {
  /* border: 2px dotted #000; */
  width: 45vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__left--cta  h1 {
  line-height: 1.5;
  padding: 2rem 0;
}

.header__left--cta  p {
  line-height: 1.5;
  padding-bottom: 2rem;
}

.header__right--image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px dotted gray; */
  width: 45vw;
  min-width: 300px;
  padding: 2rem 0;
}

.header__right--image-container img {
  max-width: 80%;
}

/* Recommendations Section */
.recommendations__section {
  background: var(--main-neutral);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid green; */
  padding: 2rem 0;
}

.recommendations__content--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(1280px, 90vw);
}

.recommendations__content--container > h3 {
  align-self: flex-start;
  margin-bottom: 2rem;
}

.recommendations__card--container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  letter-spacing: 2px;;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  width: 100%;
}

.recommendations__card--container .card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.card h3 {
  color: var(--main-neutral);
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}


#hawaii-card.card {
  background: url("../assets/Images/hawaii.jpg") center center / cover;
}

#iceland-card.card {
  background: url("../assets/Images/iceland.jpg") center center / cover;
}

#greece-card.card {
  background: url("../assets/Images/greece.jpg") center center / cover;
}

.card:hover {
  scale: 1.05;
  transition: all 0.25s ease-in-out;
}

.background-image__description {
  display: none;
}

/* Breakpoints / Media Queries */
@media (max-width: 480px) {
  /* Styles for screens up to 480 pixels */
}

@media (max-width: 800px) {
  .hero-section__column-container {
    /* border: 2px dotted #000; */
    flex-direction: column-reverse;
    align-items: center;
  }

  .header__left--cta {
    /* border: 2px dotted #000; */
    width: 70vw;
    min-width: 80vw;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(50vh - 4rem);
  }
  .header__left--cta h1 {
    padding-top: 0;
  }

  .header__left--cta .btn {
    margin-top: 0rem;
  }

  .hero-section {
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: var(--secondary-neutral);
    height: 100%;
  }
  .header__right--image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dotted gray; */
    width: 45vw;
    /* min-width: 300px; */
    height: calc(50vh - 4rem);
  }
}

@media (max-width: 1050px) {
  /* Styles for screens between 768 and 1023 pixels */
  .recommendations__card--container,
  .hero-section__card--container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .recommendations__content--container > h3 {
    align-self: center;
    /* font-size: 2.5rem; */
    font-size: min(2.5rem 90%);
  }
}

@media (max-width: 1279px) {
  /* Styles for screens between 1024 and 1279 pixels */
}
