/* Hero Section */
.hero-section {
  border: 5px solid red;
  padding-top: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: var(--secondary-neutral);
  height: calc(100vh);
}

.header__left--cta {
  border: 2px dotted #000;
  width: 45vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__right--image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px dotted gray;
  width: 45vw;
  min-width: 300px;
}

.header__right--image-container img {
  max-width: 80%;
}

.recommendations__section {
  background: var(--main-neutral);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* max-width: 80vw; */
  border: 2px solid green;
}

.recommendations__content--container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.recommendations__content--container > h3 {
  /* border: 2px solid red; */
  align-self: flex-start;
  border: 2px solid green!important;
}

.recommendations__card--container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px dotted #000;
  gap: 1rem
}

.recommendations__card--container .card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.recommendations__card--container .card:nth-of-type(1) {
  background: url("../assets/Images/hawaii.jpg") center center / cover;
}

.recommendations__card--container .card:nth-of-type(2) {
  background: url("../assets/Images/iceland.jpg") center center / cover;
}

.recommendations__card--container .card:nth-of-type(3) {
  background: url("../assets/Images/greece.jpg") center center / cover;
}
